@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.pageNotFound {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    h1 {
        margin-top: 10%;
        font-size: 40px;
    }
}

.main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86vh;
    font-family: 'Arial', sans-serif;

    .main-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        max-width: 600px;
        width: 100%;
        text-align: center;

        img {
            width: 100px;
            height: 100px;
        }

        h1 {
            font-size: 26px;
            color: #333;
            margin-bottom: 20px;
        }

        p {
            font-size: 20px;
            color: #666;
        }
    }
}

.tab__title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;

    .ant-btn {
        border-radius: 4px;
        font-size: 16px;
    }
    .ant-btn-primary {
        margin-left: 40%;
    }
}
