.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .layout-content {
    display: flex;
    flex: 1;
    overflow: hidden;
  }
  
  .layout-main {
    flex: 1;
    overflow-y: auto;
    border-radius: 5px;
    padding: 1%;
  }
  