.sidebar {
    width: 250px;
    padding: 20px;
    color: white;
    border-radius: 3px;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-bottom: 10px;
}

.div__documents {
    display: flex;
    justify-content: space-between;
}

.submenu {
    list-style-type: none;
    padding-left: 20px;
    margin-top: 10px;
}

.nav-link {
    text-decoration: none;
    color: black;
    cursor: pointer;

    &.active {
        font-weight: bold;
        text-decoration: none;
    }
}

.arrow-icon {
    transition: transform 0.3s ease; // Плавный переход

    &.rotated {
        transform: rotate(180deg);
    }
}

ul li a {
    text-decoration: none;
    color: black;
}
