.sidebar {
    width: 250px;
    padding: 20px;
    color: white;
    border-radius: 3px;
    transition: width 0.3s ease;

    .menu__button {
        cursor: pointer;
        background: none;
        border: none;
        margin-bottom: 10px;
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }



    &.collapsed {
        width: 60px;
        padding: 0;

        .nav-link {
            justify-content: center;

            span {
                display: none; // Скрываем текст
            }
        }

        img {
            display: none; // Скрываем иконку
        }

        .menu__button {
            margin: 0 auto; // Центрируем кнопку по горизонтали
            margin-bottom: 10px; // Оставляем отступ снизу
        }

        .submenu {
            position: absolute; 
            left: 10px; 
            top: 0; 
            display: none; 
        }
        
        .div__documents:hover + .submenu,
        .submenu:hover {
            display: block;
        }
        
    }
}

.menu {
    padding: 0;

    li {
        margin-bottom: 10px;

        .nav-link {
            display: flex;
            align-items: center;
            gap: 10px;

            .icon {
                display: inline-block;
                min-width: 16px;
                min-height: 16px;
                color: black; // Фиксированный цвет
                font-size: 16px; // Фиксированный размер
            }
        }
    }
}

.menu li {
    margin-bottom: 10px;
}

.div__documents {
    display: flex;
    gap: 10px;
    position: relative; /* Добавляем относительное позиционирование */

    > :last-child {
        margin-left: auto; 
    }
}

.submenu {
    list-style-type: none;
    padding-left: 20px;
    margin-top: 10px;
}

.nav-link {
    text-decoration: none;
    color: black;
    cursor: pointer;

    &.active {
        font-weight: bold;
        text-decoration: none;
    }
}

.arrow-icon {
    transition: transform 0.3s ease; // Плавный переход

    &.rotated {
        transform: rotate(180deg);
    }
}

ul li a {
    text-decoration: none;
    color: black;
}
