.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 16px; /* Пространство от краев экрана */


    &__logo {
        display: flex;
        align-items: center;
        img {
            width: 75px;
            height: auto;
        }
    }

    &__acc {
        display: flex;
        align-items: center;
        gap: 10px; 
    }

    &__accInfo {
        display: flex;
        flex-direction: column; 
        text-align: right; 
    }

    &__accLogo {
        width: 55px;
        // height: auto;
    }

    & p {
        margin: 3px;
    }
    
    svg {
        width: 40px;
        height: auto;
    }
}
