$tableColor: #f5f5f5;
$mainColor: #e0e0e0;
$alternateColor: #e1e1e1;


table {
    margin-top: 15px;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 5px;
    background-color: $tableColor;
    border-radius: 15px;
    border: 10px solid $tableColor;
    overflow: hidden;
    width: 100%;
    line-height: 1.5;

    thead {
        tr {
            th {
                padding: 10px;
                background-color: $mainColor;
            }
        }
    }

    tbody {
        tr {
            border-radius: 15px;
        }
        tr:nth-child(odd) {
            background-color: $alternateColor;
        }
        td {    
            padding: 10px;          
        }
    }
}
